XML/dom/book.dtd

<?xml version="1.0" encoding="euc-kr"?>

<!ELEMENT booklist (book+)>
<!ELEMENT book (title, author, publisher,price )>
<!ELEMENT title (#PCDATA)>
<!ELEMENT author (#PCDATA)>
<!ELEMENT publisher (#PCDATA)>
<!ELEMENT price (#PCDATA)>

<!ATTLIST book kind CDATA "ÄÄÇ»ÅÍ">
<!ATTLIST book id ID #REQUIRED>
